[Unit]
Description=sample-app web server container

[Container]
Image={{ seupt_sample_app__web_server_image_url }}
Environment=PORT={{ seupt_sample_app__web_server_port }}
PublishPort={{ seupt_sample_app__web_server_port }}:{{ seupt_sample_app__web_server_port }}

[Service]
Restart=always
# Extend Timeout to allow time to pull the image
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
